body {
    background-color: #FAFAFA;
}

.author {
    font-weight: bold;
}

.journal {
    font-style: italic;
}

.mdl-grid {
    max-width: 90%;
}

.id-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.center { 
    margin: auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.publication {
    padding-left: 20px;
    margin-bottom: 40px;
}

.increment-block {
    padding-left: 40px;
}

.class-name {
    margin-bottom: 5px;
}

.class-description {
    margin-bottom: 5px;
}

.degree-chip {
    background-color: rgb(138,43,226); /* Violet */
    color: rgb(138,43,226); /* Texte en violet */
}

.material-chip {
    background-color: rgb(138,43,226); /* Violet */
}

.material-chip span a {
    color: rgb(138,43,226) !important; /* Liens en violet */
    text-decoration: none;
    font-weight: 400;
}

#id-picture img {
    border-radius: 50%;
    height: 120px;
    margin: 10px;
    border: 2px black solid;
}

/* #id-card {
    background: url(images/header-background.jpg);
    background-size: cover;
    background-position: center center;
    color: black;
} */

#id-card {
    background: url(images/header-background.jpeg);
    background-size: cover;
    background-position: center center;
    color: white; /* Ajuste si nécessaire */
    ont-weight: bold !important; /* Mettre le texte en gras */
    position: relative;
    padding: 20px;
}

#id-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#id-card * {
    position: relative;
    z-index: 2; /* Pour que le texte apparaisse au-dessus du fond */
}
#id-card a {
    color: white !important; /* Change les liens en blanc */
    ont-weight: bold !important; /* Mettre le texte en gras */
    text-decoration: underline; /* Ajout d'un soulignement pour plus de visibilité */
}
#id-card a:hover {
    color: darkorchid !important; /* Change en dark orchid  au survol */
}


#id-title {
    font-size: 1.4em;
    margin: 0px;
}

#id-subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
}

#profiles img {
    width: 30px;
}

#footer-card {
    min-height: 5px;
}

#footer-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

button a {
    text-decoration: none;
    color: inherit;
}

.mdl-card__supporting-text {
    width: 95%;
    margin: auto;
}

.mdl-card__title {
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: auto;
}

.menu-bar {
    line-height: 46px;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
}

.menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    min-width: max-content;
    font-weight: 500;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 46px;
    display: inline-block;
    height: 100%;
}

.active {
    color: rgb(138,43,226) !important; /* Texte en violet */
    border-bottom: 2px solid rgb(138,43,226); /* Soulignement en violet */
}

.increased-margin-li {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
}

#address div, #address p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: unset;
}

#address {
    margin-top: 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.12);
    font-size: 13px;
    white-space: normal;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px; /* Augmente la marge au-dessus des tableaux */
    margin-bottom: 40px; /* Ajoute un espace sous chaque tableau */
}

tr {
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

td {
    white-space: normal;
    padding: 10px;
}

th {
    padding: 10px;
}

.right-align {
    text-align: right;
}

/* Force les liens à être en violet */
a, a:visited, a:hover, a:active {
    color: rgb(138,43,226) !important;
}

/* Espacement entre les établissements et les tableaux */
.establishment {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(138,43,226); /* Violet */
    text-align: left;
    padding: 20px 0; /* Augmente l’espace au-dessus et en dessous */
    margin-top: 40px; /* Ajoute plus d'espace avant le titre */
}
